@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<!-- Content -->
<!--  Traffic  -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Top 4 incidentes</h4>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="card-body">
                        <!-- <canvas id="TrafficChart"></canvas>   -->
                        <div id="traffic-chart" class="traffic-chart"></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-body">
                        <div class="progress-box progress-1">
                            <h4 class="por-title">Servidor não responde</h4>
                            <div class="por-txt">96,930 Usuários (40%)</div>
                            <div class="progress mb-2" style="height: 5px;">
                                <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-box progress-2">
                            <h4 class="por-title">Data center sem luz</h4>
                            <div class="por-txt">3,220 Users (24%)</div>
                            <div class="progress mb-2" style="height: 5px;">
                                <div class="progress-bar bg-flat-color-2" role="progressbar" style="width: 24%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-box progress-2">
                            <h4 class="por-title">Banco de dados lento</h4>
                            <div class="por-txt">29,658 Users (60%)</div>
                            <div class="progress mb-2" style="height: 5px;">
                                <div class="progress-bar bg-flat-color-3" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-box progress-2">
                            <h4 class="por-title">Disco cheio do cervidor</h4>
                            <div class="por-txt">99,658 Users (90%)</div>
                            <div class="progress mb-2" style="height: 5px;">
                                <div class="progress-bar bg-flat-color-4" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div> <!-- /.card-body -->
                </div>
            </div> <!-- /.row -->
            <div class="card-body"></div>
        </div>
    </div><!-- /# column -->
</div>
<!--  /Traffic -->
<div class="clearfix"></div>
<!-- Orders -->
<div class="orders">
    <div class="row">
        <div class="col-xl-8">
            <div class="card bg-flat-color-3  ">
                <div class="card-body">
                    <h4 class="card-title m-0  white-color ">Chamadas diarias</h4>
                </div>
                <div class="card-body">
                    <div id="flotLine5" class="flot-line"></div>
                </div>
            </div>
        </div>

        <div class="col-xl-4">
            <div class="row">
                <div class="col-lg-6 col-xl-12">
                    <div class="card br-0">
                        <div class="card-body">
                            <div class="chart-container ov-h" style="min-width: 372px;">
                                <div id="flotPie1" class="float-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- /.Orders -->
<!-- Flows -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Fluxos de processos</h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Última execução</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.FlowInProgress != null)
                            {
                                @foreach (var item in Model.FlowInProgress)
                                {
                                    @if (@item.Status == true)
                                    {
                                        <tr class="badge-complete">
                                            <td><span class="white-color">@item.Name</span></td>
                                            <td><span class="white-color">@item.LastExecution</span></td>
                                            <td>
                                                <span class="white-color">Habilitado</span>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="badge-pending">
                                            <td><span class="white-color">@item.Name</span></td>
                                            <td><span class="white-color">@item.LastExecution</span></td>
                                            <td>
                                                <span class="white-color">Desabilitado</span>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">Nenhuma licitação encontrada</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.Flows -->
<!-- /.content -->